
body {
  font-family: helvetica, arial, sans-serif;
}
h1 {
  color: #3a241d;
  text-align: center;
}

/*I used container class to not repeat myself*/
.container {
  top: 0px;
  width: 15%;
  position: absolute;
  height: 100%;
  padding: 10px;
  background-color: #eee;
}
#left-container {
  left: 0px;
}

#right-container {
  right: 0px;
}

.plant-holder {
  position: relative;
  height: 13%;
  left: -10px;
}

.plant {
  position: absolute;
  max-width: 150%;
  max-height: 150%;
  z-index: 2;
}
